.classpath
.project
.metadata
bin
target
.settings
syncope-read-only
connid-read-only
*.swp
tree.txt
*.log
gdata-java-client-read-only
.svn
*.iml
*.ipr
*.iws
.idea
overlays
gwt-examples
iwelcome-logger.txt
todo
spring-oauth
ignore
*.dat
war
*.jar
*.iml~
myresult.txt